.r1{
    fill: rgb(214, 230, 133);
}

.r2{
    fill: rgb(140, 198, 101);
}

.r3{
    fill: rgb(68, 163, 64);
}

.r4{
    fill: rgb(30, 104, 35);
}

rect{
    fill: #eee;
}

.r0{
    fill: #eee;
}

.usernameInput{
    margin-top: 10px;
    margin-bottom: 10px;
}

.usernameTitle{
    text-align: center;
    padding-top: 10px;
    margin-bottom: -45px;
}

#cal-heatmap{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 935px;
    top: 20%;
}

.container{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 935px;
    top: 20%;
}